* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container { 
max-width: 1230px;
margin: 0 auto;
padding: 0 15px;
}

.header { 
  padding-top: 40px;
  background-size: cover;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 124 px;
}

.logo { 
 color:#fed136;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

.menu {
color:#222222;
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 32px;
}

.menu-item__link { 
  color:#222222;
  font-size: 14px;
  line-height: 1.714;
}

.menu-item__link:hover {
  color:#fed136;
}

.title { margin-top: 100px;
    margin-bottom: 52px;
    text-align: center;
    font-size: 24px;
    line-height: 24px;

}

